@page "/"

<h1 style="font-family: consolas">Welcome to brewt.net</h1>



<p style="font-family: consolas">checkout the valorant ranked page!</p>

<button class="btn btn-primary" @onclick="GotoRank" >Go to Rank Page</button>

@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; } = null!;

    @* private void GotoMongo()
    {
        NavigationManager.NavigateTo("/mongo");
    } *@
    private void GotoRank()
    {
        NavigationManager.NavigateTo("/rank");
    }
}