@page "/mongo"
@using FriendsTracker.Components.Pages

<PageTitle>Mongo</PageTitle>

<h1>Mongo</h1>

@* @foreach (var data in ResultList)
{
<p>@data</p>

} *@

<p>@realResult</p>

<button class="btn btn-primary" @onclick="@ButtonFunction">Click me</button>