@page "/rank"
@inject IJSRuntime JSRuntime


@using System.Net.Http.Json;
@using System.Text.Json;
@using Microsoft.AspNetCore.Mvc
@using FriendsTracker.Components.Pages;

<div style="    display: flex;
    justify-content: center;
    align-content: space-around;
    /* align-items: center; */
    margin-bottom: 0;
    height: min-content;
    align-items: center;">
    <button class="btn btn-primary" @onclick="@updateMongoRanksAsync">Force Update</button>
    <p
        style="margin-bottom: 0; padding-left: 5px; display: inline; color:rgb(167, 167, 167); font-family: Rajdhani; font-weight: 700; font-size: 1.3em">
        Updated:
    </p>
    @if (_isLoading)
    {
        <div class="ring-container">
            <div class="lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    }
    else
    {
        <span
            style="margin-bottom: 0; padding-left: 5px; display: inline; color:rgb(167, 167, 167); font-family: Rajdhani; font-weight: 600; font-size: 1.3em">
            @timeSinceLastUpdated
        </span>
    }

    @* <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="slider">
    </div>
    <p>showing up to&nbsp;</p>
    <p id="demo"></p>
    <p>&nbsp; games</p> *@

    <script>
        var slider = document.getElementById("slider");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value; // Display the default slider value

        slider.oninput = function() {
            output.innerHTML = this.value;
        }

    </script>




</div>

<div class="card_container">
    <div class="card">
        @* Ranks *@
        @foreach (var player in rankList)
        {
            var link = $"https://tracker.gg/valorant/profile/riot/{@player.Data.Name}%23{@player.Data.Tag}/overview";
            var displayName = player.Data.Name switch
            {
                "Validation" => "Kevin",
                "mr wolf" => "Brewt",
                _ => player.Data.Name
            };
            @* PLACEHOLDER MATCHES LINK *@
            @* var link = $"/matches/{player.Data.Puuid.ToString()}"; *@
            <div class="player">
                <a class="player_name" target="blank" href=@link>
                    @(displayName)
                </a>
                <div class="elo_graph" id="@player.Data.Puuid"></div>

                <img class="rank_icon" src=@player.Data.CurrentData.Images.Small.ToString()>
                <p class="rr_number">@player.Data.CurrentData.RankingInTier RR</p>
            </div>
        }

    </div>
    @* <div class="card">
    Card 2
    </div> *@
    @* <div class="card">
    Card 3
    </div> *@
</div>