@page "/rank"
@using FriendsTracker.Components.Pages;

@if (_isLoading)
{
    <p>
        Loading...
    </p>
}
else
{
    <div class="card_container">
        <div class="card">
            Rank
            @foreach (var player in _response.Ranks)
            {
                <div class="player">
                    <p class="player_name">@player.Name</p>
                    <img class="rank_icon" src=@player.CurrentData.Images.Small.ToString()>
                    <p class="rr_number">@player.CurrentData.RankingInTier RR</p>
                </div>
            }
        </div>

        <div class="card">
            Mongo Rank
        </div>

        <div class="card">
            Card 3
        </div>
    </div>
}