<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link href="FriendsTracker.styles.css" rel="stylesheet">
    <link rel="stylesheet" href="app.css" />

    @* FAVICON IMPORT *@
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#212121">

    @* FONT IMPORT *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">


    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/mouse-wheel-zoom.js"></script>
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="new InteractiveServerRenderMode(false)" />
    <script src="_framework/blazor.web.js"></script>
    <script>


        function testFunction2(mmrArray, dateArray, puuid) {
            Highcharts.chart(puuid, {

                chart: {
                    type: "area",
                    backgroundColor: "rgb(30,30,30)",
                    zooming: {
                        mouseWheel: true,
                        type: "x",
                        pinchType: "x",
                    },
                    panning: true,
                    panKey: 'shift',
                },

                tooltip: {
                    formatter: function () {
                        return this.y + '</b> elo <br> on ' + (new Date(dateArray[this.x] * 1000).getMonth() + 1) + '/' + new Date(dateArray[this.x] * 1000).getDate();
                    },
                    backgroundColor: {
                        linearGradient: [0, 0, 0, 60],
                        stops: [
                            [0, "rgb(20,20,20)"],
                            [1, "rgb(40,40,40)"]
                        ]
                    },
                    style: {
                        color: '#FFFFFF'
                    },
                    borderWidth: 1,
                    borderColor: '#AAA'
                },

                legend: {
                    enabled: false
                },

                title: {
                    text: null,
                },

                xAxis: {
                    type: 'datetime',
                    visible: false,
                    gridLineWidth: 2,
                    gridLineColor: "rgb(20,20,20)",
                    tickLength: 0,
                    tickWidth: 0,
                    labels:
                    {
                        enabled: false
                    },
                },

                yAxis: {
                    visible: false
                },
                credits: {
                    enabled: false
                },

                plotOptions:
                {
                    series:
                    {
                        threshold: null,
                        lineWidth: 4,
                        color: "rgb(160,0,0)",
                        marker:
                        {
                            enabled: false,
                        }
                    }

                },

                series:
                    [{
                        name: "Elo",
                        data: mmrArray
                    }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                    }]
                }

            });


        }
    </script>
</body>

</html>
